.header {
  background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;

  .logoHeader {
    color: white;
    font-size: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
  }
}

.navHeader {
  width: 50vw;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
  }
  .link{
    color: white;
  }
}

.barraDeBusca {
  border: 2px solid white;
  border-radius: 10px;
  width: 15vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  button{
    background-color: transparent;
    border: none;
  }
  input{
    width: 12vw;
    background-color: transparent;
    border: none;
   font-size: 15px;
    color: white;
    &::placeholder {
      color: white;
    }
  }
}

@media(max-width: 1001px) {
  .logoHeader{
    width: 25vw;
    h1 {
      font-size: 1.9vw;
    }
    img {
      width: 5vw;
    }
  }

  .navHeader {
    ul {
      font-size: 1.7vw;
    }
  }

  .barraDeBusta {
    width: 18vw;
    input{
    &::placeholder{
      font-size: 1.2vw;
    }
   }
  }
}

@media(max-width: 760px) {
  header {
    height: 25vh;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .barraDeBusca {
    display: none;
  }
  .logoHeader{
    width: 80%;
    justify-content: space-evenly;
    h1 {
      font-size: 25px;
    }
    img {
      width: 60px;
    }
  }

  .navHeader {
    width: 100%;
    ul {
      justify-content: space-evenly;
      font-size: 2.5vw;
    }
  }
}

@media(max-width: 1200px) {
  .banner {
    background-size: cover;
  }
}

@media(max-width: 860px) {
  .banner {
    .banner {
      background-image: url("../../assets/secondbanner.png");
      background-position: center;
    }
  }
}